CONTEXT_SESSION.md
__pycache__/
*.png
*.pbf
*.geojson
*.bin
*.tmp
.gitignore
*.gz
ESP32
tile_generator_gzip.py
tile_viewer_gzip.py
competitive_analysis_vector_tiles_EN.md
competitive_analysis_vector_tiles.md
rsync_copy.sh
MAP/
VECTMAP/
migracion.md
venv/
CHANGELOG_FGB_MIGRATION.md
fgb_output/
rsync_copy.sh
FGBMAP/
NAVMAP/
.aider*
