CONTEXT_SESSION.md
Claude.md
complexity_analysis.html
__pycache__/
*.png
*.pbf
*.geojson
*.bin
*.tmp
*.gz
*.log
ESP32
tile_generator_gzip.py
tile_viewer_gzip.py
competitive_analysis_vector_tiles_EN.md
competitive_analysis_vector_tiles.md
rsync_copy.sh
MAP/
VECTMAP/
migracion.md
venv/
CHANGELOG_FGB_MIGRATION.md
fgb_output/
FGBMAP/
NAVMAP/
.aider*
output_test/
output_vect/
cpp_generator/
